.home{
    height: 100vh;
    background-color: #a7bcff;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        display: flex;
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        overflow: hidden;
        .sidebar{
            flex: 1;
            background-color: #3e3c61;
            .navbar{
                display: flex;
                align-items: center;
                height: 50px;
                padding:10px;
                background-color: #2f2d52;
                justify-content: space-between;
                color: #ddddf7;

                .logo{
                    font-weight: bold;
                }
                .user{
                    display: flex;
                    gap: 10px;
                    img{
                        background-color: #ddddf7;
                        height: 26px;
                        width: 26px;
                        border-radius: 50%;
                        overflow: hidden;
                        object-fit: cover;
                    }
                    button{
                        background-color:#5d5b8d;
                        color: #ddddf7;
                        font-style: 10px;
                        border: none;
                        cursor: pointer;
                    }
                }
            }

            .search{
                border-bottom: 1px solid gray;

                .searchForm{
                    padding: 10px;
                    input{
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: white;

                        &::placeholder{
                            color: lightgrey;
                        }
                    }
                }
                .userChat{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: white;
                    cursor: pointer;

                    &:hover{
                        background-color: #2f2d52;
                    }
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .userChatInfo{
                        span{
                            font-weight: bold;
                        }
                        p{

                        }
                    }
                }
            }
            .chats{
                .userChat{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: white;
                    cursor: pointer;

                    &:hover{
                        background-color: #2f2d52;
                    }
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .userChatInfo{
                        span{
                            font-weight: 500;
                            font-size: 18px;
                        }
                        p{
                            font-size: 14px;
                            color: lightgray;
                        }
                    }
                }
            }
        }
        .chat{
            flex: 2;
        }
    }
}

