.home {
  height: 100vh;
  background-color: #a7bcff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .container {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  overflow: hidden;
}
.home .container .sidebar {
  flex: 1;
  background-color: #3e3c61;
}
.home .container .sidebar .navbar {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  background-color: #2f2d52;
  justify-content: space-between;
  color: #ddddf7;
}
.home .container .sidebar .navbar .logo {
  font-weight: bold;
}
.home .container .sidebar .navbar .user {
  display: flex;
  gap: 10px;
}
.home .container .sidebar .navbar .user img {
  background-color: #ddddf7;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .container .sidebar .navbar .user button {
  background-color: #5d5b8d;
  color: #ddddf7;
  font-style: 10px;
  border: none;
  cursor: pointer;
}
.home .container .sidebar .search {
  border-bottom: 1px solid gray;
}
.home .container .sidebar .search .searchForm {
  padding: 10px;
}
.home .container .sidebar .search .searchForm input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
.home .container .sidebar .search .searchForm input::-moz-placeholder {
  color: lightgrey;
}
.home .container .sidebar .search .searchForm input:-ms-input-placeholder {
  color: lightgrey;
}
.home .container .sidebar .search .searchForm input::placeholder {
  color: lightgrey;
}
.home .container .sidebar .search .userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.home .container .sidebar .search .userChat:hover {
  background-color: #2f2d52;
}
.home .container .sidebar .search .userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .container .sidebar .search .userChat .userChatInfo span {
  font-weight: bold;
}
.home .container .sidebar .chats .userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.home .container .sidebar .chats .userChat:hover {
  background-color: #2f2d52;
}
.home .container .sidebar .chats .userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .container .sidebar .chats .userChat .userChatInfo span {
  font-weight: 500;
  font-size: 18px;
}
.home .container .sidebar .chats .userChat .userChatInfo p {
  font-size: 14px;
  color: lightgray;
}
.home .container .chat {
  flex: 2;
}
.home .container .chat .chatInfo {
  height: 50px;
  background-color: #5d5b8d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;
}
.home .container .chat .chatInfo .chatIcons {
  display: flex;
  gap: 10px;
}
.home .container .chat .chatInfo .chatIcons img {
  height: 24px;
  cursor: pointer;
}
.home .container .chat .messages {
  background-color: #ddddf7;
  padding: 10px;
  height: calc(100% - 160px);
}
.home .container .chat .input {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .container .chat .input input {
  width: 100%;
  border: none;
  outline: none;
  color: #2f2d52;
  font-size: 18px;
}
.home .container .chat .input input::-moz-placeholder {
  color: lightgray;
}
.home .container .chat .input input:-ms-input-placeholder {
  color: lightgray;
}
.home .container .chat .input input::placeholder {
  color: lightgray;
}
.home .container .chat .input .send {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .container .chat .input .send img {
  height: 24px;
  cursor: pointer;
}
.home .container .chat .input .send button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #8da4f1;
}/*# sourceMappingURL=home.css.map */