.home{
    height: 100vh;
    background-color: #a7bcff;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        display: flex;
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        overflow: hidden;
        .sidebar{
            flex: 1;
            background-color: #3e3c61;
            .navbar{
                display: flex;
                align-items: center;
                height: 50px;
                padding:10px;
                background-color: #2f2d52;
                justify-content: space-between;
                color: #ddddf7;

                .logo{
                    font-weight: bold;
                }
                .user{
                    display: flex;
                    gap: 10px;
                    img{
                        background-color: #ddddf7;
                        height: 264px;
                        width: 26px;
                        border-radius: 50%;
                        overflow: hidden;
                        object-fit: cover;
                    }
                    button{
                        background-color:#5d5b8d;
                        color: #ddddf7;
                        font-style: 10px;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
        .chat{
            flex: 2;
        }
    }
}

